mat-card {
  position: relative;

  button {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 1em;
  }

  mat-card-header {
    display: flex;
    justify-content: center;
  }

  .content {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 75% 25%;

    .chart-wrapper {
      position: relative;

      mat-spinner {
        position: absolute;
        left: 50%;
        top: 30%;
      }
    }

    .menu {
      margin-left: 20px !important;

      mat-expansion-panel {
        margin-bottom: 10px;

        mat-panel-title {
          font-size: 14px !important;
        }

        mat-checkbox {
          font-size: 12px;
        }

        mat-form-field {
          width: 90%;
        }
      }
    }
  }
}
