# node modules
node_modules

# environments
.env

# telegraf script
script-parser/src/lib/telegraf/telegraf.sh

# antlr
script-parser/src/lib/antlr/.antlr

# dist
dist

# dev
dev

# dashboard config
dashboard/src/assets/config.json